@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

div, section, body, aside, header, footer {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
    margin: 0px;
}

input::placeholder {
	color: #fff;
}

input, textarea {
	border: none;
	outline: none;
	
}

blockquote, q {
	quotes: none;
}

button {
	padding: 0px;
	background-color: blue;
	color: #fff;
	border: none;
}

ul, ol {
	margin: 0;
}

input:focus, textarea:focus {
	outline: none;
	border: 1px solid #007;
}

input {
	padding: 0px;
}

hr {
	border-bottom: none;
	border: none;
	background-color: blue;
	width: 100%;
	height: 5px;
}
