@charset "UTF-8";

// font-family: "Jersey 15", sans-serif;
// font-family: 'Inter', sans-serif;

// 300 = light
// 400 regular
// 500 == medium
// 600 == semi-bold
// 700 == bold

/* ====== VARIÁVEIS ====== */
// CORES
$primary-default: #0732ED;
$primary-50: #A085FF;
$primary-100: #8A74FF;
$primary-200: #7565FF;
$primary-300: #5D54FF;
$primary-400: #4444FA;
$primary-500: #2C36E2;
$primary-600: #0226BE;
$primary-700: #00199A;
$primary-800: #001077;
$primary-900: #020749;
$support-default: #9527FF;

$support-default: #9527FF;
$support-50: #D76EFF;
$support-100: #C45AFF;
$support-200: #B248FF;
$support-300: #9D34FF;
$support-400: #881FED;
$support-500: #7407D5;
$support-600: #5B00B3;
$support-700: #440090;
$support-800: #32006F;
$support-900: #1F0044;

$emphasis-default: #28D9DF;
$emphasis-50: #00B7BD;
$emphasis-100: #00A6AC;
$emphasis-200: #00969D;
$emphasis-300: #00848A;
$emphasis-400: #007279;
$emphasis-500: #006268;
$emphasis-600: #004D53;
$emphasis-700: #003A3F;
$emphasis-800: #002A2E;
$emphasis-900: #001A1B;

$white: #FFFFFF;

$black-default: #050505;
$black-1: #868686;
$black-2: #797979;
$black-3: #6A6A6A;
$black-4: #585858;
$black-5: #474747;
$black-6: #383838;
$black-7: #2B2B2B;
$black-8: #232323;
$black-9: #1B1B1B;
$black-10: #0C0C0C;

// TIPOGRAFIA

// headings

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5.8rem;
}

h2 {
    font-size: 5.1rem;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.6rem;
}

h6 {
    font-size: 3rem;
}

// body

p,
body {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.body-small {
    font-size: 1.6rem;
}

.body-large {
    font-size: 2rem;
}

// input

input,
input::placeholder {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.input-small,
.input-small::placeholder,
textarea,
textarea::placeholder {
    font-size: 1.6rem;
}

.input-large,
.input-large::placeholder {
    font-size: 2rem;
}

// caption

span,
.caption {
    font-size: 2.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.caption-small {
    font-size: 2.4rem;
}

.caption-large {
    font-size: 3.1rem;
}

// button

button {
    font-size: 2.7rem;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
}

.button-small {
    font-size: 2.4rem;
}

.button-large {
    font-size: 3rem;
}

// link

a {
    font-size: 2.7rem;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
}

.link-small {
    font-size: 2.4rem;
}

.link-large {
    font-size: 3.1rem;
}

// label

label {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.label-small {
    font-size: 1.4rem;
}

.label-large {
    font-size: 1.7rem;
}

/* ====== ASSETS ====== */



.loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 888888888888;
}

.cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    opacity: 100%;
    background-image: url('/images/cursor_default.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 24px;
    pointer-events: none;
    overflow: hidden !important;
}

.area-mouse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transform: scale(1.5, 2);
}

.link {
    .area-mouse {
        transform: scale(1.5, 1.5);
    }
}

#ball {
    position: absolute;
    background-color: white;
    opacity: 0;
    z-index: -1;
    border-radius: 100%;
    width: 37.2rem;
    height: 37.2rem;
    scale: 0.1;
    left: calc(50% - (37.2rem/2));
    top: calc(100% - (37.2rem));

}

* {
    cursor: none;
    //overflow: hidden;
}

.output {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: none;
}

audio {
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
}

/* ====== BODY/HTML/ROOT ====== */

:root {
    font-size: 65%;
}

body {
    font-size: 1.8rem;
    background-image: linear-gradient(112.794deg, #001EDD 0%, #000318 90%);
    background-size: 100% 1%;
    margin: 0 7.4rem;
    color: $white;
    overflow-y: hidden;
}

body.contact {
    background: linear-gradient(112.871deg, #881FED 10%, #000733 100%);
    background-size: 100% 1%;
}

.background {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000060;
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
}

/* ====== HEADER ====== */

header {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-music {
        opacity: 70%;
        transition: all 1s;

        &:hover {
            opacity: 100%;
            transform: scale(1.1);
        }
    }

    .button-langs {
        display: flex;
        align-items: center;
        gap: 4rem;

        .group-langs {
            display: flex;
            align-items: center;
            gap: 3rem;

            button {
                transition: all 0.5s ease-in;
                opacity: 0%;
                height: auto;
                width: fit-content;
                padding: 0;
                display: flex;
                justify-content: center;
                background-color: #00000000;
                align-items: center;
            }
        }
    }

    .group-menu {
        display: flex;
        gap: 4.1rem;

        h2 {
            padding: 0;
            margin: 0;
            height: fit-content;
            width: fit-content;
            box-sizing: content-box;
            font-size: 2.7rem;
            font-family: "Jersey 15", sans-serif;
            font-weight: 400;
        }

        .menu {
            border: 0.3rem solid $emphasis-default;
            color: $white;
            border-radius: 1.2rem;
            padding: 1rem 1.6rem;
            position: relative;
            background-color: #00031800;

            & .bg {
                position: absolute;
                top: 0%;
                left: 0;
                width: 100%;
                height: 10%;
                z-index: -3;
                opacity: 0;
            }
        }

    }

    .button-music {
        opacity: 0;
        display: flex;
        height: 4.1rem;
        width: 4.1rem;
        justify-content: center;
        align-items: center;
        border: 0.3rem solid $emphasis-default;
        border-radius: 199%;
        background-color: #00000000;

        img {
            height: 1.6rem;
        }
    }
}


/* ====== MAIN ====== */

main.home {
    display: flex;
    justify-content: space-between;
    margin-top: 10.7rem;
    color: $white;

    .about {
        position: relative;
        opacity: 100%;
        display: flex;
        align-items: center;
        gap: 4.7rem;
        opacity: 1;
        margin-left: 13.7rem;
        align-items: center;

        img {
            background-color: $support-500;

            border-radius: 100%;
            width: 37.2rem;
            height: 37.2rem;
        }

        .goup-text-button {
            margin-top: 1rem;

            h6 {
                color: $support-100;
                margin-bottom: -0.5rem;
            }

            h3 {
                color: $support-200;
                display: flex;
                align-items: center;
                gap: 1rem;

                .emoji {
                    font-size: 2.1rem;
                }
            }

            .text-impact {
                color: $emphasis-default;
                margin-top: 1rem;
                opacity: 90%;
            }

            h1 {
                color: $emphasis-default;
                margin-top: 1rem;
            }

            .contact {
                border-radius: 1.6rem;
                padding: 1.9rem 4rem;
                font-size: 3.6rem;
                margin-top: 2.4rem;
                background-color: $black-10;
                position: relative;

                a {
                    color: $emphasis-default;
                    display: block;
                }

                .bg {
                    position: absolute;
                    inset: 0 0 0 0;
                    width: 100%;
                    border-radius: 1.2rem;
                    height: 100%;
                    opacity: 0;
                    transform: scaleY(0.01);
                    z-index: -1;
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }

    .socialmendia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 8rem;
        right: 7.4rem;
        gap: 3.6rem;
        margin-bottom: -3rem;


        a {
            position: relative;
            height: 7.8rem;
            border: 0.6rem solid;
            border-radius: 199%;
            box-sizing: content-box;
            border: 0.5rem solid $emphasis-default;



            img {
                width: 7.8rem;
                pointer-events: none;
                margin-top: 0.1rem;
            }

            #youtube {
                margin-top: 0;
            }
        }
    }
}

.notice-projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(112.871deg, #881FED 10%, #000733 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .contact {
        display: block;
        border-radius: 1.6rem;
        padding: 1.9rem 4rem;
        font-size: 4rem !important;
        margin-top: 2.4rem;
        background-color: $white;
        position: relative;
        color: $black-default;

    }

    span {
        width: 80%;
        text-align: center;
        font-size: 3.2rem;
    }

    .groupbtn-msg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;
    }

    .msg {
        padding: 4rem 3rem;
        border-radius: 1.2rem;
        background-color: #00000081;
        border: 0.2rem solid $emphasis-default;
        box-shadow: 0rem 0rem 10rem 1rem #a8a8a896;
        width: 90%;

        .group-links {
            display: flex;
            gap: 0 3rem;
            margin-top: 3rem;
            margin-bottom: 4rem;

            .contact-dev,
            .socialmedia-dev {
                background-color: $white;
                color: $black-10;
                border-radius: 1.2rem;
                padding: 1.6rem 2rem;
                font-size: 3.5rem;
                opacity: 0.9;
                transition: all 1s;

                &:hover {
                    opacity: 1;
                    padding: 1.6rem 4rem;
                }
            }
        }


        img {
            height: 30vw;
            margin-bottom: 5rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

main.projects {
    margin-top: 5.1rem;
    display: flex;
    display: none;
    justify-content: space-between;
    height: 100%;


    .scrollbar-container {
        opacity: 0.4;
        width: 1.5rem;
        height: 100%;
        border: 2px solid $emphasis-default;
        border-radius: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;

        .scrollbar {
            background-color: $emphasis-default;
            width: 100%;
            height: 65%;
            border-radius: 1.2rem;
            position: absolute;
            top: 0%
        }
    }


    .project {
        width: 80rem;



        .project-focus {
            width: 100%;
        }

        h2 {
            margin-top: 2rem;
            margin-bottom: 1.8rem;
        }

        .technologies {
            display: flex;
            max-width: 100%;
            gap: 1.4rem;
            flex-direction: column;
            margin-bottom: 2rem;

            .section-technology {
                width: 100%;
                display: flex;
                gap: 1.2rem;
            }

            .technology {
                background-color: #0C0C0C79;
                padding: 0.7rem 1.1rem;
                border: 1px solid $support-50;
                border-radius: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                width: auto;
                height: fit-content;

                img {
                    height: 1.7rem;
                }
            }
        }

        p {
            height: 15rem;
            overflow-y: hidden;
            position: relative;
            color: $white;
        }
    }

    .list-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;

        header {
            width: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem 2rem;
            margin-bottom: 2rem;


            button {
                padding: 1rem 0.5rem;
                border-radius: 1.2rem;
                border: 0.2rem solid $emphasis-default;
                background-color: #00000080;
                font-size: 1.5rem;
            }
        }

        .group-list-projects {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: c;
            height: 58rem;
            margin-top: 1rem;

            .projects {
                display: grid;
                overflow-y: hidden;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;
            }



            img {
                width: 12.2rem;
                height: 12.2rem;
                opacity: 50%;
                border-radius: 1.2rem;
            }

            .container-img {
                background-color: black;
                border: 2px solid $white;
                border-radius: 1.2rem;
                opacity: 90%;
            }

            .container-img.on {
                opacity: 100%;
                border: 2px solid $emphasis-default;

                img {
                    opacity: 100%;
                }
            }
        }
    }


    img {
        width: 1rem;
    }
}

main.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.4rem;

    .notice-sendEmail {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 1.2rem;
        border: 0.2rem solid $emphasis-default;
        padding: 2rem 3rem;
        position: absolute;
        background-color: $black-9;
        min-width: 50vw;
        min-height: 40vh;
        pointer-events: none;

        z-index: 999999;


        .content {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            text-align: center;
            margin-top: 2rem;
            gap: 5rem;

            img {
                width: 20%;
            }
        }

        button {
            position: relative;
            left: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $emphasis-100;
            height: 5rem;
            width: 5rem;
            padding-right: 0.4rem;
            border-radius: 100%;
            transform: scale(0.6);
            opacity: 0.9;

            img {
                height: 55%;
                width: auto;
            }
        }


    }


    .group-input-socialmedia {
        border: 0.2rem solid $emphasis-default;
        border-radius: 1.2rem;
        margin-top: 5rem;
        width: 112rem;
        background-color: #0C0C0C60;
        overflow: hidden;
        height: 0.3rem;
        opacity: 0;
        display: flex;
        flex-direction: column;

        .msg {
            width: 100%;
            height: 100%;
            position: relative;

            textarea {
                font-family: 'Inter', sans-serif;
                padding: 0 2.1rem;
                padding-top: 0.5rem;
                background-color: #00000034;
                width: 100%;
                height: 100%;
                color: $white;


                &::placeholder {
                    color: $white;
                }

            }
        }

        header {
            background-color: #1B1B1B;
            padding: 1.7rem 2.1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;


            .group-socialmedia-btnSend {
                display: flex;

                gap: 2rem;

                .group-socialmedia {
                    display: flex;
                    gap: 0.5rem;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        border: 0.2rem solid $emphasis-default;
                        width: 4rem;
                        height: 4rem;
                        position: relative;
                        transform: scale(0.7);

                        img {
                            height: auto;
                            width: 4rem;
                        }
                    }
                }
            }

            .userEmail {
                position: relative;
                width: max-content;
                opacity: 0.8;

                input {
                    background-color: #00000020;
                    margin-bottom: 0.3rem;
                    width: 36rem;
                    color: $white;


                }

                .border {
                    position: absolute;
                    bottom: -0.2rem;
                    width: 100%;
                    height: 0.2rem;
                    background-color: $emphasis-default;
                    border-radius: 0.6rem;
                }
            }

            button {
                background-color: $support-default;
                padding: 0 0.8rem;
                border-radius: 1.2rem;
                scale: 0.9;
                transition: all 0.6s;
                opacity: 0.6;
            }



        }
    }

    .green {
        color: $emphasis-default;
        font-weight: 800;
        font-size: 2.1rem
    }

    .group-cards-scroll {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 0;
        }


        .cards-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 3.5rem;
            width: max-content;
            position: relative;
            transform: translateX(70%);

            .card {
                border: 0.1rem solid $emphasis-default;
                border-radius: 1.2rem;
                width: 45rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4.1rem;
                text-align: center;
                position: relative;
                opacity: 0;
                padding: 4.4rem 4.5rem 5.1rem 4.5rem;
                background: linear-gradient(-49.662deg, rgba(12, 12, 12, 43%) 44%, rgba(114, 114, 114, 43%) 100%);
                transform: translateY(300px);

                img {
                    height: 6.3rem;
                    width: auto;
                }

                a {
                    border: 0.3rem solid $support-50;
                    color: $support-50;
                    background-color: #00000000;
                    padding: 1.2rem 4.4rem;
                    opacity: 0.8;
                    transition: all 0.5s;
                    border-radius: 1.2rem;

                    &:hover {
                        opacity: 1;
                        scale: 1.1;
                        background-color: $support-50;
                        color: $white;
                    }
                }

                h3 {
                    color: $emphasis-default;
                    font-size: 3.55rem;
                    margin-bottom: 1.2rem;
                }

                p {
                    font-size: 2rem;
                    font-weight: 500;
                }

                .group-icon-text {
                    display: flex;
                    flex-direction: column;
                    gap: 2.7rem;
                }
            }
        }


        .scroll-container {
            opacity: 0;
            width: 100%;
            height: 2.2rem;
            border-radius: 1.2rem;
            background-color: #ffffff2f;
            border: 0.2rem solid $emphasis-default;


            .scroll {
                background-color: $emphasis-default;
                height: 100%;
                width: 60%;
                border-radius: 1.2rem;
                opacity: 0.7;
            }



        }
    }

}

main.skills {
    display: flex;
    justify-content: center;

    .container-ex {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2rem 2rem;
        border-radius: 1.2rem;
        border: 0.1rem solid $support-100;
        background: linear-gradient(101.451deg, #0C0C0C 0%, rgba(12, 12, 12, 70%) 60%);
        display: flex;
        gap: 2rem;
        z-index: 9999;
        flex-direction: row;
        pointer-events: none;

        .fontPixel {
            font-family: "Jersey 15", sans-serif;
        }

        .graphic {
            width: 5.4rem;
            height: 5.4rem;
            border-radius: 100%;
            background: conic-gradient($support-300 0deg 0deg,
                    transparent 0deg 360deg);

            background: conic-gradient($support-300 0deg 0deg,
                    transparent 0deg 360deg);
            display: flex;
            align-items: center;
            justify-content: center;


            span {
                font-size: 2.4rem;
            }
        }

        .group-text-ex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.4rem;

            .data-ex {
                color: $emphasis-default;
                font-size: 1.8rem;
            }

            .heading-ex {
                font-size: 2.3rem;
            }
        }
    }

    .circ {

        transition: .3s;

    }


    .explore {
        opacity: 1;
        background-color: #0C0C0C79;
        padding: 2.2rem;
        border-radius: 1.2rem;
        height: fit-content;
        margin-top: 8rem;
        overflow: hidden;
        width: 80vw;
        border: 0.1rem solid #D76EFF;

        header {
            margin-bottom: 4.3rem;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            align-items: center;

            .menu-category {
                display: flex;
                gap: 2rem;

                button {
                    border-radius: 1.2rem;

                    opacity: 0.9;
                    display: flex;
                    width: fit-content;
                    align-items: center;
                    gap: 2rem;
                    padding: 1rem 2.2rem;
                    background-color: #00031820;
                    font-size: 2.3rem;

                    span {
                        margin: 0;
                    }

                    img {
                        width: 1.9rem;
                    }

                }
            }

            span {
                margin-right: 10rem;
            }

            .close {
                border-radius: 100%;
                background-color: $support-200;
                padding: 0.4rem 0.9rem;
                transition: all 0.3s;


                img {
                    width: 1.6rem;
                }
            }

            .close.on,
            .close:hover {
                opacity: 100%;
            }

            label {
                position: relative;
                opacity: 90%;
                transition: opacity 1s;

                &:hover,
                &.on {
                    opacity: 100%;
                }


                .border {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    border-left: 0.2rem solid $emphasis-default;
                    border-bottom: 0.2rem solid $emphasis-default;
                    border-top: 0.2rem solid $emphasis-default;
                    border-radius: 1.2rem 0 0 1.2rem;
                    width: 2%;
                }

                input {
                    background-color: #ffffff10;
                    padding: 1rem 1.5rem;
                    color: $white;
                    width: 27.5rem;
                    padding-left: 3.7rem;
                    height: 4rem;
                    border: 0.2rem solid $emphasis-default;
                    border-radius: 1.2rem;
                }


                input::placeholder {
                    color: $white;
                    font-size: 1.7rem;
                }

                img {
                    position: absolute;
                    top: 1.2rem;
                    left: 1.4rem;
                    width: 1.6rem;
                }
            }
        }

        .scrollbar-container {
            opacity: 0.4;
            width: 1.5rem;
            height: 100%;
            border: 2px solid $emphasis-default;
            border-radius: 1.2rem;
            position: absolute;
            top: 0;
            right: 0;

            .scrollbar {
                background-color: $emphasis-default;
                width: 100%;
                border-radius: 1.2rem;
                position: absolute;
                top: 0%
            }
        }

        .scrollbar-container.off {
            display: none;
        }

        .group-list-skills {
            display: flex;
            justify-content: space-between;
            height: 100%;
            position: relative;
            width: 100%;
            padding: 0 0.6rem;
            margin-bottom: 4rem;

            .view-list {
                overflow: hidden;
                height: 45rem;
                width: 100%;
                margin-right: 4rem;
            }

            .list-skills {
                opacity: 0;
                height: fit-content;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 5rem 2rem;
                margin-left: 1rem;
                transform: translateY(100%);

                .skill {
                    width: 100%;
                    height: fit-content;
                    transition: all 0.5s;
                    opacity: 0;
                    transform: scale(1.4);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    gap: 2rem;

                    img {
                        width: 6.5rem;
                        height: 6.5rem;
                    }
                }

                .line-skill {
                    display: flex;
                    gap: 4rem;

                }
            }



            .list-off {
                pointer-events: none;
                display: none;
                opacity: 0;
            }
        }
    }
}

/* ====== FOOTER ====== */

@media (max-width: 1400px) {
    :root {
        font-size: 63%;

    }

    .about {
        margin-left: 0.5rem !important;

    }
}

@media (max-width: 1390px) {
    :root {
        font-size: 63%;

    }

    .group-links {
        gap: 0 4rem !important;
    }

    .notice-projects {
        align-items: flex-start !important;
    }

    .notice-projects .msg {
        margin-top: 4rem;

        img {
            width: 70% !important;
        }

        span {
            width: 100% !important;
        }
    }

    .group-input-socialmedia {
        width: 100% !important;

    }



    .explore {
        width: 100% !important;

        .list-skills {
            grid-template-columns: 1fr 1fr 1fr 1fr !important;
        }
    }

}

@media (max-width: 1000px) {
    :root {
        font-size: 60%;

    }

    .notice-sendEmail {
        display: flex !important;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 1.2rem;
        border: 0.2rem solid $emphasis-default;
        padding: 2rem 3rem;
        position: absolute;
        left: 0;
        height: 50vh !important;
        width: 100% !important;
        background-color: $black-9;
        min-width: 50vw;
        min-height: 40vh;
        z-index: 999999;


        .content {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start !important;
            margin-top: 2rem;
            text-align: center;
            margin-top: 2rem;
            gap: 3.8rem 0 !important;

            img {
                width: 40% !important;
            }
        }

        button {
            position: relative;
            left: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $emphasis-100;
            height: 5rem;
            width: 5rem;
            padding-right: 0.4rem;
            border-radius: 100%;
            transform: scale(0.6);
            opacity: 0.9;

            img {
                height: 55%;
                width: auto;
            }
        }
    }


    .background {
        background-color: #0000009f;
    }

    header {
        margin: 1rem !important;
    }

    body {
        overflow: hidden;
    }


    main.contact {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-top: 0 !important;
        padding: 0 !important;

        gap: 2REM 0 !important;
    }

    .group-socialmedia-cards {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        .group-socialmedia {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin-bottom: 1REM;
        }
    }

    .group-input-socialmedia {
        margin: 0 !important;

        textarea {
            padding-top: 2rem !important;
        }

        header {
            padding: 0 !important;
        }


        .userEmail {
            margin-top: 1REM;
            width: 100% !important;

            input {
                padding: 1rem 2rem !important;
                width: 100%;
            }
        }

        .msg-send {
            width: 100% !important;
            height: 100% !important;
            display: flex;
            flex-direction: column;

            .msg {
                height: 100% !important;
            }

            button {
                background-color: $support-400;
                opacity: 0.8;
                color: $white;
                height: 25%;
                width: 100% !important;
                border-bottom-left-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
            }
        }

        header {
            margin: 0 !important;

        }
    }



    .btn-menu {
        width: 5rem;
        height: 5rem;
        opacity: 0.9;
        transform: scale(0.9);
        border: 0.3rem solid $emphasis-default;
        border-radius: 100%;
        background-color: #00000033;
        box-sizing: content-box;
        z-index: 998898;



        img {
            margin-top: 0.5rem;
            height: 40%;
        }


    }

    * {
        overflow-y: hidden;
        overflow-x: hidden !important;
    }


    .header-moblie {
        overflow-y: hidden;
        background-color: $black-9;
        background: linear-gradient(168.62deg, #300042 1%, #151515 65%);
        flex-direction: column !important;
        width: 100% !important;
        height: 100vh !important;
        position: absolute !important;
        top: 0% !important;
        left: 0% !important;
        opacity: 0;
        z-index: 99888;
        margin: 0;
        display: flex;
        pointer-events: none;
        box-sizing: border-box;
        padding: 3rem 3rem;
        padding-top: 17rem;
        align-items: flex-end;
        justify-content: flex-start;

    }

    header {
        background-color: #00000033;

        padding: 3rem 1rem;

        .logo {
            display: flex;
            align-items: center;
            gap: 0 3rem;

            span {
                background: linear-gradient(127.145deg, $emphasis-default 0%, $emphasis-default 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
            }

            .bg-img {
                background-color: $support-400;
                border-radius: 100%;
                width: fit-content;
                height: fit-content;
            }

            img {
                width: 5rem;
            }
        }
    }

    .button-langs {
        width: 100%;
        justify-content: center;
        margin-top: 6rem;
        height: 6rem !important;
    }

    .group-menu {
        width: 100%;
        gap: 5rem !important;
        flex-direction: column;
        align-items: center;

        h2 {
            display: flex;
            width: 90% !important;

            .menu {
                text-align: center;
                width: 199% !important;
            }
        }
    }

    .socialmendia {
        flex-direction: row !important;
    }

    main.home {
        margin-top: 10rem;
    }

}

@media (max-width: 840px) {
    :root {
        font-size: 56%;

        overflow-x: hidden !important;

    }

    .notice-projects {
        .contact {
            display: block;
            border-radius: 1.6rem;
            padding: 1.9rem 4rem;
            font-size: 4rem !important;
            margin-top: 2.4rem;
            background-color: $white;
            position: relative;
            color: $black-default;

        }

        span {
            width: 80%;
            text-align: center;
            font-size: 2.7rem;
        }

        .groupbtn-msg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem 0;
        }

        .msg {
            padding: 4rem 3rem;
            border-radius: 1.2rem;
            background-color: #00000081;
            border: 0.2rem solid $emphasis-default;
            box-shadow: 0rem 0rem 10rem 1rem #a8a8a896;
            width: 90%;
            margin-top: 1rem;
            margin-bottom: 2rem;

            .group-links {
                display: flex;
                gap: 2rem 0rem !important;
                margin-top: 3rem;
                margin-bottom: 4rem;

                .contact-dev,
                .socialmedia-dev {
                    background-color: $white;
                    color: $black-10;
                    border-radius: 1.2rem;
                    padding: 1rem 2rem !important;
                    font-size: 3.7rem;
                    opacity: 0.9;
                    transition: all 1s;

                    &:hover {
                        opacity: 1;
                        padding: 1.2rem 4rem !important;
                    }
                }
            }


            img {
                height: 40vw;
                margin-bottom: 5rem;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    main.contact {

        input {
            width: fit-content !important;
            height: 8rem !important;
        }

        input,
        input::placeholder {
            font-size: 2.5rem !important;
        }

        textarea::placeholder,
        input::placeholder {
            opacity: 0.9;
        }

        textarea {
            padding-top: 0.8rem !important;
        }

        textarea,
        textarea::placeholder {
            font-size: 2rem !important;
        }

        button {
            font-size: 2.5rem !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center;
            padding-bottom: 0.7rem;
            font-weight: 600 !important;
            font-family: 'Inter', sans-serif;

        }


    }

    .group-socialmedia {

        a img {
            height: 9rem !important;
        }

        a #icon-whatsapp {
            height: 9.8rem !important;
        }
    }

    .group-links {
        flex-direction: column !important;
        gap: 4rem 0 !important;
        width: 100%;
        padding: 0 2rem;

        a {
            padding: 2rem 0 !important;
            text-align: center;
        }

    }

    #ball {
        width: 30.2rem !important;
        height: 30.2rem !important;

    }

    .scroll-container {
        display: none;

    }

    .group-lists {
        display: flex;
        width: fit-content;
    }

    .cards-container {
        width: 100% !important;
        flex-direction: column !important;


        .card {
            width: 100% !important;
            transform: translateY(0) !important;
            transform: translateX(20rem);



        }
    }

    body {
        overflow-y: hidden !important;
        margin: 0;
        padding: 0 2rem;
    }


    .cursor {
        display: none !important;
    }

    .socialmendia {
        flex-direction: row !important;
        display: none !important;
    }

    main.home {
        margin-top: 2rem;
        justify-content: center;
        margin-bottom: 4rem;

        .about {
            flex-direction: column;
            text-align: center;

            img {
                width: 30.2rem !important;
                height: 30.2rem !important;
            }

            button {
                width: 100%;
            }

            h3 {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .explore {
        text-align: center;
        background-color: transparent !important;
        padding: 2rem 3rem;
        border: none !important;
        width: 100% !important;
        margin-top: 3rem !important;
        margin-bottom: 7rem;

        .view-list {
            display: flex;
            flex-direction: row !important;
            min-width: fit-content !important;
            height: 30rem !important;
            align-items: flex-end;

        }

        h1 {
            margin-bottom: 13rem;
            color: $emphasis-default;
        }

        .area-list {
            display: flex;
            flex-direction: row;
            min-width: fit-content !important;
            gap: 0 12rem !important;
            border: none !important;
            transform: translateX(4%);
            height: 109% !important;
            align-items: flex-end;

        }

        .group-lists {
            display: flex;
            gap: 0 12rem !important;
            width: fit-content !important;
            border: none !important;
            height: 109% !important;
            align-items: flex-end;




        }

        .list-skills {
            border: none !important;
            display: flex !important;
            flex-direction: row !important;
            gap: 0 12rem !important;
            min-width: fit-content !important;
            height: 100% !important;
            align-items: flex-end;



            .skill {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                width: 20rem !important;

                span {
                    width: 100% !important;
                }

                img {
                    margin-bottom: 2rem;
                }
            }
        }
    }

}

@media (max-width: 710px) {
    :root {
        font-size: 53%;

    }


    .socialmendia {
        flex-direction: row !important;
        display: none !important;
    }

    main.home {
        margin-top: 2rem;
        justify-content: center;

        .about {
            flex-direction: column;
            text-align: center;

            button {
                width: 100%;
            }

            h3 {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

}

@media (max-width: 393px) {
    main.home {
        margin-top: 2rem;
        justify-content: center;

        .about {
            flex-direction: column;
            text-align: center;

            button {
                width: 100%;
            }

            h1 {
                font-size: 5rem;
            }

            h3 {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

}

@media (max-width: 329px) {
    main.home {
        margin-top: 2rem;
        justify-content: center;

        .about {
            flex-direction: column;
            text-align: center;

            button {
                width: 100%;
            }

            h1 {
                font-size: 4.6rem;
            }

            h3 {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

}