@charset "UTF-8";
/* ====== VARIÁVEIS ====== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 5.1rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.6rem;
}

h6 {
  font-size: 3rem;
}

p,
body {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.body-small {
  font-size: 1.6rem;
}

.body-large {
  font-size: 2rem;
}

input::-moz-placeholder {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

input,
input::placeholder {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.input-small::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 1.6rem;
}

.input-small,
.input-small::placeholder,
textarea,
textarea::placeholder {
  font-size: 1.6rem;
}

.input-large::-moz-placeholder {
  font-size: 2rem;
}

.input-large,
.input-large::placeholder {
  font-size: 2rem;
}

span,
.caption {
  font-size: 2.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.caption-small {
  font-size: 2.4rem;
}

.caption-large {
  font-size: 3.1rem;
}

button {
  font-size: 2.7rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
}

.button-small {
  font-size: 2.4rem;
}

.button-large {
  font-size: 3rem;
}

a {
  font-size: 2.7rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
}

.link-small {
  font-size: 2.4rem;
}

.link-large {
  font-size: 3.1rem;
}

label {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.label-small {
  font-size: 1.4rem;
}

.label-large {
  font-size: 1.7rem;
}

/* ====== ASSETS ====== */
.loading {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  z-index: 888888888888;
}

.cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100000000000000000000000;
  opacity: 100%;
  background-image: url("/images/cursor_default.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 24px;
  pointer-events: none;
  overflow: hidden !important;
}

.area-mouse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: scale(1.5, 2);
}

.link .area-mouse {
  transform: scale(1.5, 1.5);
}

#ball {
  position: absolute;
  background-color: white;
  opacity: 0;
  z-index: -1;
  border-radius: 100%;
  width: 37.2rem;
  height: 37.2rem;
  scale: 0.1;
  left: calc(50% - 18.6rem);
  top: calc(100% - 37.2rem);
}

* {
  cursor: none;
}

.output {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: none;
}

::-moz-selection {
  background-color: #65008d;
}

::selection {
  background-color: #65008d;
}

audio {
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
}

/* ====== BODY/HTML/ROOT ====== */
:root {
  font-size: 65%;
}

body {
  font-size: 1.8rem;
  background-image: linear-gradient(112.794deg, #001EDD 0%, #000318 90%);
  background-size: 100% 1%;
  margin: 0 7.4rem;
  color: #FFFFFF;
}

body.contact {
  background: linear-gradient(112.871deg, #881FED 10%, #000733 100%);
  background-size: 100% 1%;
}

.background {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
}

/* ====== HEADER ====== */
header {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .button-music {
  opacity: 70%;
  transition: all 1s;
}
header .button-music:hover {
  opacity: 100%;
  transform: scale(1.1);
}
header .button-langs {
  display: flex;
  align-items: center;
  gap: 4rem;
}
header .button-langs .group-langs {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .button-langs .group-langs button {
  transition: all 0.5s ease-in;
  opacity: 0%;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}
header .group-menu {
  display: flex;
  gap: 4.1rem;
}
header .group-menu h2 {
  padding: 0;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: content-box;
  font-size: 2.7rem;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
}
header .group-menu .menu {
  border: 0.3rem solid #28D9DF;
  color: #FFFFFF;
  border-radius: 1.2rem;
  padding: 1rem 1.6rem;
  position: relative;
  background-color: rgba(0, 3, 24, 0);
}
header .group-menu .menu .bg {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: -3;
  opacity: 0;
}
header .button-music {
  opacity: 0;
  display: flex;
  height: 4.1rem;
  width: 4.1rem;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #28D9DF;
  border-radius: 199%;
  background-color: rgba(0, 0, 0, 0);
}
header .button-music img {
  height: 1.6rem;
}

/* ====== MAIN ====== */
main.home {
  display: flex;
  justify-content: space-between;
  margin-top: 10.7rem;
  color: #FFFFFF;
}
main.home .about {
  position: relative;
  opacity: 100%;
  display: flex;
  align-items: center;
  gap: 4.7rem;
  opacity: 1;
  margin-left: 13.7rem;
  align-items: center;
}
main.home .about img {
  background-color: #7407D5;
  border-radius: 100%;
  width: 37.2rem;
  height: 37.2rem;
}
main.home .about .goup-text-button {
  margin-top: 1rem;
}
main.home .about .goup-text-button h6 {
  color: #C45AFF;
  margin-bottom: -0.5rem;
}
main.home .about .goup-text-button h3 {
  color: #B248FF;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.home .about .goup-text-button h3 .emoji {
  font-size: 2.1rem;
}
main.home .about .goup-text-button .text-impact {
  color: #28D9DF;
  margin-top: 1rem;
  opacity: 90%;
}
main.home .about .goup-text-button h1 {
  color: #28D9DF;
  margin-top: 1rem;
}
main.home .about .goup-text-button .contact {
  border-radius: 1.6rem;
  padding: 1.9rem 4rem;
  font-size: 3.6rem;
  margin-top: 2.4rem;
  background-color: #0C0C0C;
  position: relative;
}
main.home .about .goup-text-button .contact a {
  color: #28D9DF;
  display: block;
}
main.home .about .goup-text-button .contact .bg {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  border-radius: 1.2rem;
  height: 100%;
  opacity: 0;
  transform: scaleY(0.01);
  z-index: -1;
  background-color: rgb(255, 255, 255);
}
main.home .socialmendia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8rem;
  right: 7.4rem;
  gap: 3.6rem;
  margin-bottom: -3rem;
}
main.home .socialmendia a {
  position: relative;
  height: 7.8rem;
  border: 0.6rem solid;
  border-radius: 199%;
  box-sizing: content-box;
  border: 0.5rem solid #28D9DF;
}
main.home .socialmendia a img {
  width: 7.8rem;
  pointer-events: none;
  margin-top: 0.1rem;
}
main.home .socialmendia a #youtube {
  margin-top: 0;
}

.notice-projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(112.871deg, #881FED 10%, #000733 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-projects .contact {
  display: block;
  border-radius: 1.6rem;
  padding: 1.9rem 4rem;
  font-size: 4rem !important;
  margin-top: 2.4rem;
  background-color: #FFFFFF;
  position: relative;
  color: #050505;
}
.notice-projects span {
  width: 80%;
  text-align: center;
  font-size: 3.2rem;
}
.notice-projects .groupbtn-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
}
.notice-projects .msg {
  padding: 4rem 3rem;
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5058823529);
  border: 0.2rem solid #28D9DF;
  box-shadow: 0rem 0rem 10rem 1rem rgba(168, 168, 168, 0.5882352941);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notice-projects .msg .group-links {
  display: flex;
  gap: 0 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.notice-projects .msg .group-links .contact-dev,
.notice-projects .msg .group-links .socialmedia-dev {
  background-color: #FFFFFF;
  color: #0C0C0C;
  border-radius: 1.2rem;
  padding: 1.6rem 2rem;
  font-size: 3.5rem;
  opacity: 0.9;
  transition: all 1s;
}
.notice-projects .msg .group-links .contact-dev:hover,
.notice-projects .msg .group-links .socialmedia-dev:hover {
  opacity: 1;
  padding: 1.6rem 4rem;
}
.notice-projects .msg img {
  height: 30vw;
  margin-bottom: 5rem;
}

main.projects {
  margin-top: 5.1rem;
  display: flex;
  display: none;
  justify-content: space-between;
  height: 100%;
}
main.projects .scrollbar-container {
  opacity: 0.4;
  width: 1.5rem;
  height: 100%;
  border: 2px solid #28D9DF;
  border-radius: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
}
main.projects .scrollbar-container .scrollbar {
  background-color: #28D9DF;
  width: 100%;
  height: 65%;
  border-radius: 1.2rem;
  position: absolute;
  top: 0%;
}
main.projects .project {
  width: 80rem;
}
main.projects .project .project-focus {
  width: 100%;
}
main.projects .project h2 {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
main.projects .project .technologies {
  display: flex;
  max-width: 100%;
  gap: 1.4rem;
  flex-direction: column;
  margin-bottom: 2rem;
}
main.projects .project .technologies .section-technology {
  width: 100%;
  display: flex;
  gap: 1.2rem;
}
main.projects .project .technologies .technology {
  background-color: rgba(12, 12, 12, 0.4745098039);
  padding: 0.7rem 1.1rem;
  border: 1px solid #D76EFF;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
}
main.projects .project .technologies .technology img {
  height: 1.7rem;
}
main.projects .project p {
  height: 15rem;
  overflow-y: hidden;
  position: relative;
  color: #FFFFFF;
}
main.projects .list-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
main.projects .list-projects header {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem 2rem;
  margin-bottom: 2rem;
}
main.projects .list-projects header button {
  padding: 1rem 0.5rem;
  border-radius: 1.2rem;
  border: 0.2rem solid #28D9DF;
  background-color: rgba(0, 0, 0, 0.5019607843);
  font-size: 1.5rem;
}
main.projects .list-projects .group-list-projects {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: c;
  height: 58rem;
  margin-top: 1rem;
}
main.projects .list-projects .group-list-projects .projects {
  display: grid;
  overflow-y: hidden;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
main.projects .list-projects .group-list-projects img {
  width: 12.2rem;
  height: 12.2rem;
  opacity: 50%;
  border-radius: 1.2rem;
}
main.projects .list-projects .group-list-projects .container-img {
  background-color: black;
  border: 2px solid #FFFFFF;
  border-radius: 1.2rem;
  opacity: 90%;
}
main.projects .list-projects .group-list-projects .container-img.on {
  opacity: 100%;
  border: 2px solid #28D9DF;
}
main.projects .list-projects .group-list-projects .container-img.on img {
  opacity: 100%;
}
main.projects img {
  width: 1rem;
}

.emailBoxContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  pointer-events: none;
}
.emailBoxContainer .emailBox {
  background-color: #000000;
  padding: 3rem 3.5rem;
  border-radius: 1rem;
  z-index: 99999999;
  opacity: 0;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
}
.emailBoxContainer .emailBox span {
  font-size: 2.6rem;
  font-family: "Jersey 15", sans-serif;
  color: #28D9DF;
}

main.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.4rem;
}
main.contact .notice-sendEmail {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1.2rem;
  border: 0.2rem solid #28D9DF;
  padding: 2rem 3rem;
  position: absolute;
  background-color: #1B1B1B;
  min-width: 50vw;
  min-height: 40vh;
  pointer-events: none;
  z-index: 999999;
}
main.contact .notice-sendEmail .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-top: 2rem;
  gap: 5rem;
}
main.contact .notice-sendEmail .content img {
  width: 20%;
}
main.contact .notice-sendEmail button {
  position: relative;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00A6AC;
  height: 5rem;
  width: 5rem;
  padding-right: 0.4rem;
  border-radius: 100%;
  transform: scale(0.6);
  opacity: 0.9;
}
main.contact .notice-sendEmail button img {
  height: 55%;
  width: auto;
}
main.contact .group-input-socialmedia {
  border: 0.2rem solid #28D9DF;
  border-radius: 1.2rem;
  margin-top: 5rem;
  width: 112rem;
  background-color: rgba(12, 12, 12, 0.3764705882);
  overflow: hidden;
  height: 0.3rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
main.contact .group-input-socialmedia .msg {
  width: 100%;
  height: 100%;
  position: relative;
}
main.contact .group-input-socialmedia .msg textarea {
  font-family: "Inter", sans-serif;
  padding: 0 2.1rem;
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2039215686);
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}
main.contact .group-input-socialmedia .msg textarea::-moz-placeholder {
  color: #FFFFFF;
}
main.contact .group-input-socialmedia .msg textarea::placeholder {
  color: #FFFFFF;
}
main.contact .group-input-socialmedia header {
  background-color: #1B1B1B;
  padding: 1.7rem 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
main.contact .group-input-socialmedia header .group-socialmedia-btnSend {
  display: flex;
  gap: 2rem;
}
main.contact .group-input-socialmedia header .group-socialmedia-btnSend .group-socialmedia {
  display: flex;
  gap: 0.5rem;
}
main.contact .group-input-socialmedia header .group-socialmedia-btnSend .group-socialmedia a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0.2rem solid #28D9DF;
  width: 4rem;
  height: 4rem;
  position: relative;
  transform: scale(0.7);
}
main.contact .group-input-socialmedia header .group-socialmedia-btnSend .group-socialmedia a img {
  height: auto;
  width: 4rem;
}
main.contact .group-input-socialmedia header .userEmail {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  opacity: 0.8;
}
main.contact .group-input-socialmedia header .userEmail input {
  background-color: rgba(0, 0, 0, 0.1254901961);
  margin-bottom: 0.3rem;
  width: 36rem;
  color: #FFFFFF;
}
main.contact .group-input-socialmedia header .userEmail .border {
  position: absolute;
  bottom: -0.2rem;
  width: 100%;
  height: 0.2rem;
  background-color: #28D9DF;
  border-radius: 0.6rem;
}
main.contact .group-input-socialmedia header button {
  background-color: #9527FF;
  padding: 0 0.8rem;
  border-radius: 1.2rem;
  scale: 0.9;
  transition: all 0.6s;
  opacity: 0.6;
}
main.contact .green {
  color: #28D9DF;
  font-weight: 800;
  font-size: 2.1rem;
}
main.contact .group-cards-scroll {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  overflow-y: hidden;
}
main.contact .group-cards-scroll::-webkit-scrollbar {
  height: 0;
}
main.contact .group-cards-scroll .cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3.5rem;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  transform: translateX(70%);
}
main.contact .group-cards-scroll .cards-container .card {
  border: 0.1rem solid #28D9DF;
  border-radius: 1.2rem;
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.1rem;
  text-align: center;
  position: relative;
  opacity: 0;
  padding: 4.4rem 4.5rem 5.1rem 4.5rem;
  background: linear-gradient(-49.662deg, rgba(12, 12, 12, 0.43) 44%, rgba(114, 114, 114, 0.43) 100%);
  transform: translateY(300px);
}
main.contact .group-cards-scroll .cards-container .card img {
  height: 6.3rem;
  width: auto;
}
main.contact .group-cards-scroll .cards-container .card a {
  border: 0.3rem solid #D76EFF;
  color: #D76EFF;
  background-color: rgba(0, 0, 0, 0);
  padding: 1.2rem 4.4rem;
  opacity: 0.8;
  transition: all 0.5s;
  border-radius: 1.2rem;
}
main.contact .group-cards-scroll .cards-container .card a:hover {
  opacity: 1;
  scale: 1.1;
  background-color: #D76EFF;
  color: #FFFFFF;
}
main.contact .group-cards-scroll .cards-container .card h3 {
  color: #28D9DF;
  font-size: 3.55rem;
  margin-bottom: 1.2rem;
}
main.contact .group-cards-scroll .cards-container .card p {
  font-size: 2rem;
  font-weight: 500;
}
main.contact .group-cards-scroll .cards-container .card .group-icon-text {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
main.contact .group-cards-scroll .scroll-container {
  opacity: 0;
  width: 100%;
  height: 2.2rem;
  border-radius: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1843137255);
  border: 0.2rem solid #28D9DF;
}
main.contact .group-cards-scroll .scroll-container .scroll {
  background-color: #28D9DF;
  height: 100%;
  width: 70%;
  border-radius: 1.2rem;
  opacity: 0.7;
}

main.skills {
  display: flex;
  justify-content: center;
}
main.skills .container-ex {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 2rem;
  border-radius: 1.2rem;
  border: 0.1rem solid #C45AFF;
  background: linear-gradient(101.451deg, #0C0C0C 0%, rgba(12, 12, 12, 0.7) 60%);
  display: flex;
  gap: 2rem;
  z-index: 9999;
  flex-direction: row;
  pointer-events: none;
}
main.skills .container-ex .fontPixel {
  font-family: "Jersey 15", sans-serif;
}
main.skills .container-ex .graphic {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 100%;
  background: conic-gradient(#9D34FF 0deg 0deg, transparent 0deg 360deg);
  background: conic-gradient(#9D34FF 0deg 0deg, transparent 0deg 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
main.skills .container-ex .graphic span {
  font-size: 2.4rem;
}
main.skills .container-ex .group-text-ex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}
main.skills .container-ex .group-text-ex .data-ex {
  color: #28D9DF;
  font-size: 1.8rem;
}
main.skills .container-ex .group-text-ex .heading-ex {
  font-size: 2.3rem;
}
main.skills .circ {
  transition: 0.3s;
}
main.skills .explore {
  opacity: 1;
  background-color: rgba(12, 12, 12, 0.4745098039);
  padding: 2.2rem;
  border-radius: 1.2rem;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 8rem;
  overflow: hidden;
  width: 80vw;
  border: 0.1rem solid #D76EFF;
}
main.skills .explore header {
  margin-bottom: 4.3rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  align-items: center;
}
main.skills .explore header .menu-category {
  display: flex;
  gap: 2rem;
}
main.skills .explore header .menu-category button {
  border-radius: 1.2rem;
  opacity: 0.9;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2.2rem;
  background-color: rgba(0, 3, 24, 0.1254901961);
  font-size: 2.3rem;
}
main.skills .explore header .menu-category button span {
  margin: 0;
}
main.skills .explore header .menu-category button img {
  width: 1.9rem;
}
main.skills .explore header span {
  margin-right: 10rem;
}
main.skills .explore header .close {
  border-radius: 100%;
  background-color: #B248FF;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s;
}
main.skills .explore header .close img {
  width: 1.6rem;
}
main.skills .explore header .close.on,
main.skills .explore header .close:hover {
  opacity: 100%;
}
main.skills .explore header label {
  position: relative;
  opacity: 90%;
  transition: opacity 1s;
}
main.skills .explore header label:hover, main.skills .explore header label.on {
  opacity: 100%;
}
main.skills .explore header label .border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 0.2rem solid #28D9DF;
  border-bottom: 0.2rem solid #28D9DF;
  border-top: 0.2rem solid #28D9DF;
  border-radius: 1.2rem 0 0 1.2rem;
  width: 2%;
}
main.skills .explore header label input {
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 1rem 1.5rem;
  color: #FFFFFF;
  width: 27.5rem;
  padding-left: 3.7rem;
  height: 4rem;
  border: 0.2rem solid #28D9DF;
  border-radius: 1.2rem;
}
main.skills .explore header label input::-moz-placeholder {
  color: #FFFFFF;
  font-size: 1.7rem;
}
main.skills .explore header label input::placeholder {
  color: #FFFFFF;
  font-size: 1.7rem;
}
main.skills .explore header label img {
  position: absolute;
  top: 1.2rem;
  left: 1.4rem;
  width: 1.6rem;
}
main.skills .explore .scrollbar-container {
  opacity: 0.4;
  width: 1.5rem;
  height: 100%;
  border: 2px solid #28D9DF;
  border-radius: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
}
main.skills .explore .scrollbar-container .scrollbar {
  background-color: #28D9DF;
  width: 100%;
  border-radius: 1.2rem;
  position: absolute;
  top: 0%;
}
main.skills .explore .scrollbar-container.off {
  display: none;
}
main.skills .explore .group-list-skills {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0 0.6rem;
  margin-bottom: 4rem;
}
main.skills .explore .group-list-skills .view-list {
  overflow: hidden;
  height: 45rem;
  width: 100%;
  margin-right: 4rem;
}
main.skills .explore .group-list-skills .list-skills {
  opacity: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5rem 2rem;
  margin-left: 1rem;
  transform: translateY(100%);
}
main.skills .explore .group-list-skills .list-skills .skill {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.5s;
  opacity: 0;
  transform: scale(1.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
}
main.skills .explore .group-list-skills .list-skills .skill img {
  width: 6.5rem;
  height: 6.5rem;
}
main.skills .explore .group-list-skills .list-skills .line-skill {
  display: flex;
  gap: 4rem;
}
main.skills .explore .group-list-skills .list-off {
  pointer-events: none;
  display: none;
  opacity: 0;
}

/* ====== FOOTER ====== */
@media (max-width: 1400px) {
  :root {
    font-size: 63%;
  }
  .about {
    margin-left: 0.5rem !important;
  }
}
@media (max-width: 1390px) {
  :root {
    font-size: 63%;
  }
  .titleSkills {
    margin: 0 !important;
  }
  .group-links {
    gap: 0 4rem !important;
  }
  .notice-projects {
    align-items: flex-start !important;
  }
  .notice-projects .msg {
    margin-top: 4rem;
  }
  .notice-projects .msg img {
    width: 70% !important;
  }
  .notice-projects .msg span {
    width: 100% !important;
  }
  .group-input-socialmedia {
    width: 100% !important;
  }
  .explore {
    width: 100% !important;
  }
  .explore .list-skills {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}
@media (max-width: 1088px) {
  :root {
    font-size: 60%;
  }
  * {
    overflow: hidden;
  }
  .notice-sendEmail {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 1.2rem;
    border: 0.2rem solid #28D9DF;
    padding: 2rem 3rem;
    position: absolute;
    left: 0;
    height: 50vh !important;
    width: 100% !important;
    background-color: #1B1B1B;
    min-width: 50vw;
    min-height: 40vh;
    z-index: 999999;
  }
  .notice-sendEmail .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    margin-top: 2rem;
    text-align: center;
    margin-top: 2rem;
    gap: 3.8rem 0 !important;
  }
  .notice-sendEmail .content img {
    width: 40% !important;
  }
  .notice-sendEmail button {
    position: relative;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A6AC;
    height: 5rem;
    width: 5rem;
    padding-right: 0.4rem;
    border-radius: 100%;
    transform: scale(0.6);
    opacity: 0.9;
  }
  .notice-sendEmail button img {
    height: 55%;
    width: auto;
  }
  .explore {
    padding-top: 0 !important;
  }
  .explore header {
    margin-top: 0 !important;
  }
  .background {
    background-color: rgba(0, 0, 0, 0.6235294118);
  }
  header {
    margin: 1rem !important;
  }
  main.contact {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-top: 0 !important;
    padding: 0 !important;
    gap: 2REM 0 !important;
  }
  .group-socialmedia-cards {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .group-socialmedia-cards .group-socialmedia {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 1REM;
  }
  .group-input-socialmedia {
    margin: 0 !important;
  }
  .group-input-socialmedia textarea {
    padding-top: 2rem !important;
  }
  .group-input-socialmedia header {
    padding: 0 !important;
  }
  .group-input-socialmedia .userEmail {
    margin-top: 1REM;
    width: 100% !important;
  }
  .group-input-socialmedia .userEmail input {
    padding: 1rem 2rem !important;
    width: 100%;
  }
  .group-input-socialmedia .msg-send {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .group-input-socialmedia .msg-send .msg {
    height: 100% !important;
  }
  .group-input-socialmedia .msg-send button {
    background-color: #881FED;
    opacity: 0.8;
    color: #FFFFFF;
    height: 25%;
    width: 100% !important;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }
  .group-input-socialmedia header {
    margin: 0 !important;
  }
  .btn-menu {
    width: 5rem;
    height: 5rem;
    opacity: 0.9;
    transform: scale(0.9);
    border: 0.3rem solid #28D9DF;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    z-index: 998898;
  }
  .btn-menu img {
    margin-top: 0.5rem;
    height: 40%;
  }
  .header-moblie {
    overflow-y: hidden;
    background-color: #1B1B1B;
    background: linear-gradient(168.62deg, #300042 1%, #151515 65%);
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh !important;
    position: absolute !important;
    top: 0% !important;
    left: 0% !important;
    opacity: 0;
    z-index: 99888;
    margin: 0;
    display: flex;
    pointer-events: none;
    box-sizing: border-box;
    padding: 3rem 3rem;
    padding-top: 17rem;
    align-items: flex-end;
    justify-content: flex-start;
  }
  header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3rem 1rem;
  }
  header .logo {
    display: flex;
    align-items: center;
    gap: 0 3rem;
  }
  header .logo span {
    background: linear-gradient(127.145deg, #28D9DF 0%, #28D9DF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  header .logo .bg-img {
    background-color: #881FED;
    border-radius: 100%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .logo img {
    width: 5rem;
  }
  .button-langs {
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
    height: 6rem !important;
  }
  .group-menu {
    width: 100%;
    gap: 5rem !important;
    flex-direction: column;
    align-items: center;
  }
  .group-menu h2 {
    display: flex;
    width: 90% !important;
  }
  .group-menu h2 .menu {
    text-align: center;
    width: 199% !important;
  }
  .socialmendia {
    flex-direction: row !important;
  }
  main.home {
    margin-top: 10rem;
  }
}
@media (max-width: 840px) {
  :root {
    font-size: 56%;
  }
  .notice-projects .contact {
    display: block;
    border-radius: 1.6rem;
    padding: 1.9rem 4rem;
    font-size: 4rem !important;
    margin-top: 2.4rem;
    background-color: #FFFFFF;
    position: relative;
    color: #050505;
  }
  .notice-projects span {
    width: 80%;
    text-align: center;
    font-size: 2.7rem;
  }
  .notice-projects .groupbtn-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
  }
  .notice-projects .msg {
    padding: 4rem 3rem;
    border-radius: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5058823529);
    border: 0.2rem solid #28D9DF;
    box-shadow: 0rem 0rem 10rem 1rem rgba(168, 168, 168, 0.5882352941);
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notice-projects .msg .group-links {
    display: flex;
    gap: 2rem 0rem !important;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .notice-projects .msg .group-links .contact-dev,
  .notice-projects .msg .group-links .socialmedia-dev {
    background-color: #FFFFFF;
    color: #0C0C0C;
    border-radius: 1.2rem;
    padding: 1rem 2rem !important;
    font-size: 3.7rem;
    opacity: 0.9;
    transition: all 1s;
  }
  .notice-projects .msg .group-links .contact-dev:hover,
  .notice-projects .msg .group-links .socialmedia-dev:hover {
    opacity: 1;
    padding: 1.2rem 4rem !important;
  }
  .notice-projects .msg img {
    height: 40vw;
    margin-bottom: 5rem;
  }
  main.contact input {
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: 8rem !important;
  }
  main.contact input::-moz-placeholder {
    font-size: 2.5rem !important;
  }
  main.contact input,
  main.contact input::placeholder {
    font-size: 2.5rem !important;
  }
  main.contact textarea::-moz-placeholder, main.contact input::-moz-placeholder {
    opacity: 0.9;
  }
  main.contact textarea::placeholder,
  main.contact input::placeholder {
    opacity: 0.9;
  }
  main.contact textarea {
    padding-top: 0.8rem !important;
  }
  main.contact textarea::-moz-placeholder {
    font-size: 2rem !important;
  }
  main.contact textarea,
  main.contact textarea::placeholder {
    font-size: 2rem !important;
  }
  main.contact button {
    font-size: 2.5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    padding-bottom: 0.7rem;
    font-weight: 600 !important;
    font-family: "Inter", sans-serif;
  }
  .group-socialmedia a img {
    height: 9rem !important;
  }
  .group-socialmedia a #icon-whatsapp {
    height: 9.8rem !important;
  }
  .group-links {
    flex-direction: column !important;
    gap: 4rem 0 !important;
    width: 100%;
    padding: 0 2rem;
  }
  .group-links a {
    padding: 2rem 0 !important;
    text-align: center;
  }
  #ball {
    width: 30.2rem !important;
    height: 30.2rem !important;
  }
  .scroll-container {
    display: none;
  }
  .group-lists {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
  .cardEnd {
    margin-bottom: 6rem;
  }
  .cards-container {
    width: 100% !important;
    flex-direction: column !important;
  }
  .cards-container .card {
    width: 100% !important;
    transform: translateY(0) !important;
    transform: translateX(20rem);
  }
  body {
    margin: 0;
    padding: 0 2rem;
  }
  .cursor {
    display: none !important;
  }
  .socialmendia {
    flex-direction: row !important;
    display: none !important;
  }
  main.home {
    margin-top: 2rem;
    justify-content: center;
    margin-bottom: 4rem;
  }
  main.home .about {
    flex-direction: column;
    text-align: center;
  }
  main.home .about img {
    width: 30.2rem !important;
    height: 30.2rem !important;
  }
  main.home .about button {
    width: 100%;
  }
  main.home .about h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .explore {
    text-align: center;
    background-color: transparent !important;
    padding: 2rem 3rem;
    border: none !important;
    width: 100% !important;
    margin-top: 3rem !important;
    margin-bottom: 7rem;
  }
  .explore .view-list {
    display: flex;
    flex-direction: row !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    height: 30rem !important;
    align-items: flex-end;
  }
  .explore h1 {
    margin-bottom: 13rem;
    color: #28D9DF;
  }
  .explore .area-list {
    display: flex;
    flex-direction: row;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    gap: 0 12rem !important;
    border: none !important;
    transform: translateX(4%);
    height: 109% !important;
    align-items: flex-end;
  }
  .explore .group-lists {
    display: flex;
    gap: 0 12rem !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    border: none !important;
    height: 109% !important;
    align-items: flex-end;
  }
  .explore .list-skills {
    border: none !important;
    display: flex !important;
    flex-direction: row !important;
    gap: 0 12rem !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    height: 100% !important;
    align-items: flex-end;
  }
  .explore .list-skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 20rem !important;
  }
  .explore .list-skills .skill span {
    width: 100% !important;
  }
  .explore .list-skills .skill img {
    margin-bottom: 2rem;
  }
}
@media (max-width: 710px) {
  :root {
    font-size: 53%;
  }
  .socialmendia {
    flex-direction: row !important;
    display: none !important;
  }
  main.home {
    margin-top: 2rem;
    justify-content: center;
  }
  main.home .about {
    flex-direction: column;
    text-align: center;
  }
  main.home .about button {
    width: 100%;
  }
  main.home .about h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 393px) {
  main.home {
    margin-top: 2rem;
    justify-content: center;
  }
  main.home .about {
    flex-direction: column;
    text-align: center;
  }
  main.home .about button {
    width: 100%;
  }
  main.home .about h1 {
    font-size: 5rem;
  }
  main.home .about h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 329px) {
  main.home {
    margin-top: 2rem;
    justify-content: center;
  }
  main.home .about {
    flex-direction: column;
    text-align: center;
  }
  main.home .about button {
    width: 100%;
  }
  main.home .about h1 {
    font-size: 4.6rem;
  }
  main.home .about h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 976px) {
  .titleSkills {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */